.carousel-item {
    padding: 20px 0;
}

.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1rem;
    margin-top: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
}
