/* style.css */

/* General Styling */
header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.ml-2{
    color: #722F37;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 3.9em;
    
}
/* Top Header */
.top-header .navbar-brand span {
    
    /* font-family: 'Dancing Script', cursive; */
    font-size: 1.8em;
}

.search-bar .custom-select {
    max-width: 150px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-bar .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    max-width: 250px;
}

.icons i {
    font-size: 1.2em;
    color: #555;
}

/* Bottom Navigation */
.bottom-nav {
    background-color: #722F37; /* Dark blue */
}

.bottom-nav .nav-link {
    color: white !important;
}

.bottom-nav .nav-link:hover {
    color: #ffcc00 !important; /* Optional highlight color */
}

.bottom-nav .btn-warning {
    background-color:white;
    color: #722F37;
    font-weight: bold;
}
