.carousel-item img {
    height: 400px;
    object-fit: cover;
}

#carouselExample {
    position: relative;
}

.overlay-card {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 30%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    z-index: 10;
}

.overlay-card h5, .overlay-card p {
    margin: 0;
}

.btn {
    border: 2px solid blue;
    border-radius: 50px;
    padding: 5px 15px;
    margin-top: 10px;
    color: blue;
}
